<nb-card [nbSpinner]="loading" nbSpinnerStatus="success">
  <!-- <ngx-loading [show]="loading"
      [config]="{animationType: ngxLoadingAnimationTypes.wanderingCubes, primaryColour: primaryColour, secondaryColour: secondaryColour, backdropBorderRadius: '3px'}">
    </ngx-loading> -->
  <nb-card-header>
    List Subscriber
    <a style="text-align: right; float: right" (click)="search = !search">Advanced Search</a>
  </nb-card-header>
  <nb-card-body>
    <button  *ngIf="!role.getmenurole(402)"   status="success" nbButton [routerLink]="['/pages/customer/add-cust']">
      Add
    </button>
    <div class="row">
      <div class="col-md-12">
        <label class="left">
          <h5>Subscriber Count : {{ count }}</h5>
        </label>
        <i (click)="Download()" class="green right fa fa-file-excel" aria-hidden="true"></i>
      </div>
    </div>
    <div class="modal-body" autocomplete="off" [hidden]="!search">
      <div class="form-group row">
        <div class="col-sm-3" *ngIf="role.getroleid() >777">
          <label>Headend</label>
          <auto-completen addclass="form-control" optValues="hdname" [(ngModel)]="headend" name="headend"
            (changed)="getoperator(); boxparing(); getpackage()" placeholder="Select Headend" optId="hdid"
            [item]="listhead">
          </auto-completen>
        </div>
        <div class="col-sm-3" (change)="getoperator()">
          <label> Operator Type</label>
          <select class="form-control" name="op_type" [(ngModel)]="op_type">
            <option value="" selected>Select Operator Type</option>
            <option value="444">LCO</option>
            <option value="666">Distributor</option>
            <option value="555">Sub-Distributor</option>
            <option value="333">Hotel</option>
          </select>
        </div>

        <div class="col-sm-3">
          <label>Operator Name</label>
          <auto-completen addclass="form-control" optValues="profileid" [(ngModel)]="profileid" name="operator_name"
            placeholder="Select Operator" Id="id" [item]="operatortypelist">
          </auto-completen>
        </div>
        <div class="col-sm-3" (change)="getpackage()">
          <label>Pack Type</label>
          <select class="form-control" id="pack_type" [(ngModel)]="pack_type">
            <option value="" selected>Select Pack Type</option>
            <option value="0">Base Package</option>
            <option value="1">A-La-Carte</option>
            <option value="2">Add-On Package</option>
            <option value="3">Bundle Package</option>
          </select>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-sm-3">
          <label>Package</label>
          <auto-completen addclass="form-control" optValues="packname" [(ngModel)]="package" name="package"
           placeholder="Select Package" optId="packid"
           [item]="getpackagelist">
           </auto-completen>
        </div>
        <div class="col-sm-3">
          <label>STB Model</label>
          <auto-completen addclass="form-control" optValues="modelname" [(ngModel)]="model_opt" name="model_opt"
           placeholder="Select Model" optId="bmid"
          [item]="getmodellist">
        </auto-completen>
        </div>

        <div class="col-sm-3" >
          <label>STB Number</label>
         <auto-completen (changed)="vcparing();"
         addclass="form-control" optValues="boxno" [(ngModel)]="stbopt" name="stbopt"
         optId="boxid" placeholder='Select STB Number' 
         [item]="listboxpair">
       </auto-completen>
        </div>

        <div class="col-sm-3">
          <label>VC Number</label>
           <select  name="vc"  class="form-control" [(ngModel)]="vc" name="vc"
           placeholder='Select VC Number ' >
          <option *ngFor='let item of listvc' [ngValue]=item.vcid>{{item.vcno}}</option>
          </select>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-sm-3">
          <label>From Created Date </label>
          <input type="date" [(ngModel)]="from_date" name="from_date" placeholder="Select Date " class="form-control" />
        </div>
        <div class="col-sm-3">
          <label>To Created Date</label>
          <input type="date" [(ngModel)]="to_date" name="to_date" placeholder="Select Date " class="form-control" />
        </div>
        <div class="col-sm-3">
          <label>Status</label>
          <select name="status" [(ngModel)]="status" class="form-control">
            <option value="" selected>Select Status</option>
            <option value="1">Active</option>
            <option value="0">Deactive</option>
          </select>
        </div>
        <div class="col-sm-3">
          <label>CAS Name<span style="color: red">*</span></label>
          <auto-completen optValues="casname" name="castype" [(ngModel)]="castype" (keyUp)="GetCas($event)"
            placeholder="Select CAS Name" optId="casid" [item]="getcas">
          </auto-completen>
        </div>
      </div>
      <button type="button" class="btn btn-md btn-success" (click)="page = 1; initiallist()"
        style="margin: auto; display: block">
        Search
      </button>
    </div>
    <div [formGroup]="Custform">
      <div class="row">
        <div class="validation-checkboxes">
          <div class="col-sm-2">
            <div class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" id="status_check" formControlName="status_check" />
              <label class="custom-control-label" for="status_check">STB Status</label>
            </div>
          </div>
          <div class="col-sm-2">
            <div class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" id="caf_check" formControlName="caf_check" />
              <label class="custom-control-label" for="caf_check">CAF Number</label>
            </div>
          </div>
          <div class="col-sm-2">
            <div class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" id="custid_check" formControlName="custid_check" />
              <label class="custom-control-label" for="custid_check">Subscriber ID</label>
            </div>
          </div>

          <div class="col-sm-2">
            <div class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" id="subname_check" formControlName="subname_check" />
              <label class="custom-control-label" for="subname_check">Subscriber Name</label>
            </div>
          </div>

          <div class="col-sm-2">
            <div class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" id="addr_check" formControlName="addr_check" />
              <label class="custom-control-label" for="addr_check">Address</label>
            </div>
          </div>

          <div class="col-sm-2">
            <div class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" id="cas_check" formControlName="cas_check" />
              <label class="custom-control-label" for="cas_check">STB Model</label>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="validation-checkboxes">
          <div class="col-sm-2">
            <div class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" id="vc_check" formControlName="vc_check" />
              <label class="custom-control-label" for="vc_check">VC Number</label>
            </div>
          </div>
          <div class="col-sm-2">
            <div class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" id="act_check" formControlName="act_check" />
              <label class="custom-control-label" for="act_check">Activate Date</label>
            </div>
          </div>
          <div class="col-sm-2">
            <div class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" id="exp_check" formControlName="exp_check" />
              <label class="custom-control-label" for="exp_check">Expiry Date</label>
            </div>
          </div>
          <div class="col-sm-2">
            <div class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" id="mob_check" formControlName="mob_check" />
              <label class="custom-control-label" for="mob_check">Moblie Number</label>
            </div>
          </div>
          <div class="col-sm-2" *ngIf="role.getroleid() >777">
            <div class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" id="headend" formControlName="headend" />
              <label class="custom-control-label" for="headend">Headend Name</label>
            </div>
          </div>

          <div class="col-sm-2">
            <div class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" id="stb_check" formControlName="stb_check" />
              <label class="custom-control-label" for="stb_check">STB Number</label>
            </div>
          </div>



          <div class="col-sm-2">
            <div class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" id="optname_check" formControlName="optname_check" />
              <label class="custom-control-label" for="optname_check">Operator Name</label>
            </div>
          </div>

        </div>
      </div>
    </div>
    <table class="table table-condensed table-hover">
      <tr>
        <th>Action</th>
        <th [hidden]="!Custform.value['headend']" *ngIf="role.getroleid() >777">Headend Name</th>
        <th [hidden]="!Custform.value['caf_check']">CAF NO</th>
        <th [hidden]="!Custform.value['custid_check']">Subscriber ID</th>
        <th [hidden]="!Custform.value['subname_check']">Subscriber Name</th>
        <th [hidden]="!Custform.value['addr_check']">Address</th>
        <th [hidden]="!Custform.value['stb_check']">Box Number</th>
        <th [hidden]="!Custform.value['mob_check']">Mobile Number</th>
        <th [hidden]='!Custform.value["optname_check"]'>Operator Name</th>
      </tr>
      <tr *ngFor="let item of pagedItems">
        <td style="padding: 1px" class="last" data-title="'Action'">
          <div class="dropdown ghost-dropdown" ngbDropdown>
            <button type="button" style="margin-left: -10%" class="btn btn-sm btn-success dropdown-toggle"
              data-bs-toggle="dropdown">
              Action
            </button>
            <ul style="width: 75px; margin: 3px; z-index: 1" class="dropdown-menu" ngbDropdownMenu>
              <li class="dropdown-item" title="Edit" [routerLink]="['/pages/customer/edit-cust']"
                [queryParams]="{ id: item.custid }">
                <i style="font-size: 20px" class="nb-edit"></i>&nbsp;Edit
              </li>
              <li class="dropdown-item" title="View" (click)="
                  view({
                    cust_id: item.custid,
                    installation_addr: item.installation_addr,
                    vc_no: item.boxno,
                    mobile: item.mobile,
                    fullname: item.fullname,
                    cafno: item.cafno,
                    email: item.email,
                    profileid: item.profileid
                  })
                ">
                <i style="font-size: 20px" class="far fa-eye"></i>&nbsp;View
              </li>
              <li class="dropdown-item" title="Renew" (click)="
                  renew({
                    cust_id: item.custid,
                    hdid: item.hdid,
                    fullname: item.fullname,
                    vc_no: item.boxno,
                    user_type :item.usertype,
                    resellerid :item.userid
                  })
                ">
                <i style="font-size: 20px" class="ion-reply"></i>&nbsp;Renewal
              </li>
            </ul>
          </div>
        </td>
        <td [hidden]="!Custform.value['headend']" *ngIf="role.getroleid() >777">{{ item.hdname }}</td>
        <td [hidden]="!Custform.value['caf_check']">{{ item.cafno }}</td>
        <td [hidden]="!Custform.value['custid_check']">{{ item.profileid }}</td>
        <td [hidden]="!Custform.value['subname_check']">{{ item.fullname }}</td>
        <td [hidden]="!Custform.value['addr_check']">{{ item.installation_addr }}</td>
        <td [hidden]="!Custform.value['stb_check']">{{ item.boxno }}</td>
        <td [hidden]="!Custform.value['mob_check']">{{ item.mobile }}</td>
        <td [hidden]='!Custform.value["optname_check"]'> {{item.usertype == 444 ? 'LCO' : item.usertype == 666 ? 'Distributor': item.usertype == 555 ? 'Sub-Distributor' :'Hotel' }} </td>
      </tr>
      <tr>
        <td [hidden]="pagedItems.length != 0" colspan="13" style="text-align: center">
          No Data Found
        </td>
      </tr>
    </table>
    <div class="pagination">
      <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
        <a [ngClass]="{ disabled: pager.currentPage === 1 }" (click)="page = 1; getcustList()">First</a>
        <a [ngClass]="{ disabled: pager.currentPage === 1 }" (click)="page = page - 1; getcustList()">Previous</a>
        <a *ngFor="let page of pager.pages" [ngClass]="{ active: pager.currentPage === page }"
          (click)="getcustList(page)">{{ page }}</a>
        <a [ngClass]="{ disabled: pager.currentPage === pager.totalPages }"
          (click)="page = page + 1; getcustList()">Next</a>
        <a [ngClass]="{ disabled: pager.currentPage === pager.totalPages }"
          (click)="page = pager.totalPages; getcustList()">Last</a>
      </ul>
    </div>
  </nb-card-body>
</nb-card>