<p>operator-setting-list works!</p>
<nb-card>
    <nb-card-header>Operator Settings List</nb-card-header>
    <nb-card-body>
      <!-- <toaster-container></toaster-container> -->
      <button
      
        [routerLink]="['/pages/das-administration/addoperator-setting']">Settings</button>
      <hr style="border: 0px;">
      <table class="table">
        <tr>
          <!-- <th [hidden]="role.getrole(2033)">Action</th> -->
          <th>Mobile App Access</th>
          <th>Top Up Minimun</th>
          <th>SMS Gsteway</th>
          <th>Payment Gateway</th>
          <th>Overdue</th>
          <tr></tr>
        <tr >
        <!-- <*ngFor="let item of pagedItems"> -->
          <!-- <td >
          <!-- [hidden]="role.getrole(2033)"> -->
          <!-- <a (click)="Edit(item)"><i class="nb-edit"></i></a></td>
          <td>{{item.cas_name}}</td> --> -->
        </tr>
      </table>
    </nb-card-body>
  </nb-card>