<!-- <p>addstock works!</p> -->
<div class="col-md-12">
  <nb-card>
    <nb-card-header>Create Stock Details</nb-card-header>
    <!-- <toaster-container></toaster-container> -->
    <nb-card-body>
      <form [formGroup]="editstockForm" class="form-horizontal" (ngSubmit)="addstockIn()">
        <div class="modal-body">
          <nb-tabset>
            <nb-tab tabTitle="Stock Details">
              <div class="modal-body">
                <div class="form-group row">
                  <div class="col-sm-6" *ngIf="role.getroleid() > 777">
                    <label>Select Headend Name<span style="color: red">*</span></label>
                    <auto-completen [addclass]="{
                        error: submit && this.editstockForm.controls.hdid.errors
                      }" addclass="form-control" optValues="hdname" (changed)="
                        gethsnlistg();
                        getModel();
                        getVendor();
                        typeclearHeadend('1')
                      " formControlName="hdid" (keyUp)="getHeadend($event)" placeholder="Select Headend Name" optId="hdid"
                      [item]="listhead">
                    </auto-completen>
                    <div *ngIf="
                        this.editstockForm.controls.hdid.errors &&
                        this.editstockForm.controls.hdid.errors.required &&
                        submit
                      " class="error-text">
                      Headend Name is required!
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-sm-6">
                    <label> Select Vendor Name <span style="color:red">*</span></label>
                    <auto-completen [addclass]="{
                        error:
                          submit && this.editstockForm.controls.vendorid.errors
                      }" addclass="form-control" optValues="vendor_name" (changed)="getlocation();getModel(); typeclearVendor()"
                      formControlName="vendorid" (keyUp)="getVendor()" placeholder="Select Vendor Name" optId="vendorid"
                      [item]="getvendorlist">
                    </auto-completen>
                    <div *ngIf="
                        this.editstockForm.controls.vendorid.errors &&
                        this.editstockForm.controls.vendorid.errors.required &&
                        submit
                      " class="error-text">
                      Vendor Name is required!
                    </div>
                  </div>

                  <div class="col-sm-6">
                    <label>Location<span style="color:red">*</span></label>
                    <auto-completen [addclass]="{
                        error:
                          submit &&
                          this.editstockForm.controls.vendordetid.errors
                      }" addclass="form-control" optValues="loc" formControlName="vendordetid" (keyUp)="getlocation()"
                      placeholder="Select Loction" optId="vendordetid" [item]="locationlist">
                    </auto-completen>
                    <div *ngIf="
                        this.editstockForm.controls.vendordetid.errors &&
                        this.editstockForm.controls.vendordetid.errors
                          .required &&
                        submit
                      " class="error-text">
                      Location Name is required!
                    </div>
                  </div>
                </div>

                <div class="form-group row">
                  <div class="col-sm-6">
                    <label>Stock Type<span style="color:red">*</span></label>
                    <select [ngClass]="{
                        'is-invalid':
                          submit && editstockForm.controls.stocktype.errors
                      }" class="form-control" name="stocktype" formControlName="stocktype">
                      <option value="" selected>Select Stock Type</option>
                      <option value="1">New</option>
                      <option value="2">Refurbished</option>
                    </select>
                    <div *ngIf="
                        this.editstockForm.controls.stocktype.errors &&
                        this.editstockForm.controls.stocktype.errors.required &&
                        submit
                      " class="error-text">
                      Stock Type is required!
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <label>Warranty Type<span style="color:red">*</span></label>
                    <select [ngClass]="{
                        'is-invalid':
                          submit && editstockForm.controls.warranty_type.errors
                      }" class="form-control" name="warranty_type" formControlName="warranty_type">
                      <option value="" selected>
                        Select Required Warranty Type
                      </option>
                      <option value="1">Month</option>
                      <option value="2">Year</option>
                    </select>
                    <div *ngIf="
                        this.editstockForm.controls.warranty_type.errors &&
                        this.editstockForm.controls.warranty_type.errors.required &&
                        submit" class="error-text"> Warranty Type is required!
                    </div>
                  </div>
                </div>

                <div class="form-group row">
                  <div class="col-sm-6">
                    <label>HSN/SAC<span style="color:red">*</span></label>
                    <auto-completen [addclass]="{
                        error:
                          submit && this.editstockForm.controls.hsnid.errors
                      }" addclass="form-control" optValues="hsn_name" formControlName="hsnid" (keyUp)="gethsnlistg()"
                      placeholder="Select hsn" optId="hsn_id" [item]="gethsn">
                    </auto-completen>
                    <div *ngIf="
                        this.editstockForm.controls.hsnid.errors &&
                        this.editstockForm.controls.hsnid.errors.required &&
                        submit
                      " class="error-text">
                      HSN/SAC is required!
                    </div>
                  </div>

                  <div class="col-sm-6">
                    <label>Warranty Period<span style="color:red">*</span></label>
                    <input type="text" class="form-control" name="warranty_period" formControlName="warranty_period"
                      placeholder="Enter Warranty Period" [ngClass]="{
                        'is-invalid':
                          submit &&
                          editstockForm.controls.warranty_period.errors
                      }" />
                    <small *ngIf="
                        editstockForm.controls.warranty_period.errors &&
                        editstockForm.controls.warranty_period.errors
                          .required &&
                        submit
                      " class="invalid-feedback">Warranty Period is required!
                    </small>
                  </div>
                </div>
              </div>
            </nb-tab>
            <nb-tab tabTitle="Invoice Details">
              <div class="modal-body">
                <div class="form-group row">
                  <div class="col-sm-6">
                    <label>Invoice <span style="color: red">*</span></label>
                    <input type="date" class="form-control" formControlName="invoice_date" [ngClass]="{
                        'is-invalid':
                          submit && editstockForm.controls.invoice_date.errors
                      }" />
                    <small *ngIf="
                        editstockForm.controls.invoice_date.errors &&
                        editstockForm.controls.invoice_date.errors.required &&
                        submit
                      " class="invalid-feedback">Invoice is required!
                    </small>
                  </div>
                  <div class="col-sm-6">
                    <label>Invoice No <span style="color: red">*</span></label>
                    <input type="text" name="invoiceno" formControlName="invoiceno" placeholder="Enter Invoice No"
                      class="form-control" [ngClass]="{
                        'is-invalid':
                          submit && editstockForm.controls.invoiceno.errors
                      }" />
                    <small *ngIf="
                        editstockForm.controls.invoiceno.errors &&
                        editstockForm.controls.invoiceno.errors.required &&
                        submit
                      " class="invalid-feedback">Invoice is required!
                    </small>
                  </div>
                </div>
              </div>
            </nb-tab>
            <nb-tab tabTitle="Material Details ">
              <div class="modal-body">
                <div class="form-group row" formArrayName="stockinid">
                  <div class="col-sm-12">
                    <div *ngFor="
                        let user of stockinid.controls;
                        index as idx;
                        let last = last
                      ">
                      <div class="row" [formGroupName]="idx">
                        <!-- <div class="row"> -->
                        <div class="form-group" class="col-sm-3">
                          <label>Model*</label>
                          <auto-completen addclass="form-control" optValues="modelname" formControlName="boxmodelid"
                            (keyUp)="getModel()" placeholder="Select Model" optId="bmid" [item]="getmodellist">
                          </auto-completen>
                        </div>
                        <div class="form-group" class="col-sm-3">
                          <label>Quantity<span style="color:red">*</span></label>
                          <input type="number" name="qty" formControlName="qty" placeholder="Enter Quantity"
                            class="form-control" (keyup)="onkeyupQty($event, idx)" />
                        </div>
                        <div class="form-group" class="col-sm-2">
                          <label>Price<span style="color:red">*</span></label>
                          <input type="number" name="price" formControlName="price" placeholder="Enter Price"
                            class="form-control" (keyup)="onkeyupQty($event, idx)" />
                        </div>
                        <div class="form-group" class="col-sm-2">
                          <label>Total</label>
                          <input type="number" name="total" formControlName="total" placeholder="Total"
                            class="form-control" (keyup)="onkeyupQty($event, idx)" />
                        </div>
                       
                      <!-- <div class="col-sm-2"> -->
                        <div class="form-group" class="col-sm-2" *ngIf="last || idx != 0">
                          <div class="btn-group">
                            <button type="button" style="margin-top: 31%" class="btn btn-md btn-success dropdown-toggle"
                              data-bs-toggle="dropdown">
                              Action
                            </button>
                            <div class="dropdown-menu">
                              <a (click)="addMaterial()" class="dropdown-item" *ngIf="last">
                                <i title="Edit Complaint" class="ion-ios-plus-outline"></i>&nbsp;ADD
                              </a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </nb-tab>
          </nb-tabset>
        </div>
        <div class="modal-footer">
          <button type="submit" status="success" nbButton>Add</button>
          <button type="button" class="btn btn-md btn-danger"
          [routerLink]="['/pages/inventory/liststock']">Back</button>
        </div>
      </form>
    </nb-card-body>
  </nb-card>
</div>