.ng-autocomplete {
    width:100%;
    max-width: 3000px;
    display: table;
    margin: 0 auto;
  }
  .error {
    border-color: red;
  }
  .error-text {
      font-size: x-small;
      color: red;
  }