<!-- <p>bulkvcactive works!</p> -->
<div class="col-md-12">
    <nb-card>
       <nb-card-header>Bulk Vc Activation</nb-card-header>
       <nb-card-body>
          
          <form class="form-horizontal" (ngSubmit)="bulkpair();">
             <div class="row form-group">
                <div class="col-sm-6">
                   <label>Please Upload The Excel File Format</label>
                   <input type="file"  class="form-control"
                     >
                   <small class="form-text error"> No Record Found! </small>
                   <small class="form-text error">
                      Activation
                      0 - Active, 1 - Deactive
                   </small>
                </div>
                <div class="col-sm-2">
                   <br>
                   <br>
                   <a href="/assets/public/bulkvcactivation.xlsx" target="_blank" download><b>Download Sample
                         Here</b></a>
                </div>
             </div>
             <div class="modal-footer">
                <button type="submit" class="btn btn-md btn-success">Submit</button>
                <button type="button" class="btn btn-md btn-danger " (click)="submit=false;">Reset</button>
             </div>
          </form>
       </nb-card-body>
    </nb-card>
    <nb-card>
       <nb-card-header>
          
          <i (click)="Download();" class="green right fa fa-file-excel" ></i>
       </nb-card-header>
       <nb-card-body>
          <table class="table table-bordered table-striped ">
             <tr>
                <th>Card Number</th>
                <th>Error Msg</th>
             </tr>
           
          </table>
       </nb-card-body>
    </nb-card>
 </div>
