<div class="modal-header" style="background-color :  #01a7ee;">
  <label>SEARCH </label>
  <button class="close" aria-label="Close" (click)="activeModal.close();">
     <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="modal-body">
  
  <div class="form-group row">
     <div class="col-sm-12">
        <label>Search Type</label>
        <select name="sflag" [(ngModel)]="sflag" (change)="searchresult()" class="form-control">
           <option value="1" selected>Subscriber ID</option>
           <option value="2">VC Number</option>
           <option value="3">Box Number</option>
           <option value="4">Mobile Number</option>
           <option value="5">Email ID</option>
           <option value="6">CAF Number</option>
           <option value="7">Box OR VC</option>
        </select>
     </div>
     
</div>
  <div class="form-group row">
     <div class="col-sm-12">
        <label>SEARCH</label>
          <auto-completen id="search" [(ngModel)]="search"  (keyUp)="searchresult($event.target.value)" name="search" (click)="searchclick();" addclass="form-control" 
          optValues="uname" placeholder='Search here...' optId="custid" [item]="datas">
        </auto-completen>
  </div>

</div>
</div>
