<nb-card>
  <!-- <toaster-container></toaster-container> -->
  <nb-card-header>Create Subscriber</nb-card-header>
  <nb-card-body>
    <form [formGroup]="AddCustForm" class="form-horizontal" (ngSubmit)="addcustomer()">
      <div class="modal-body">
        <div class="form-group row">
          <div class="col-sm-6"  *ngIf="role.getroleid() > 777">
            <label>Select Headend Name<span style="color: red">*</span></label>
            <auto-completen [addclass]="{error: submit && this.AddCustForm.controls.hdid.errors}"
              (changed)="getoperator();getbox();typeclearopr()" addclass="form-control" optValues="hdname"
              formControlName="hdid" (keyUp)="getHeadend($event)" placeholder="Select Headend" optId="hdid"
              [item]="listhead">
            </auto-completen>
            <div
              *ngIf="this.AddCustForm.controls.hdid.errors && this.AddCustForm.controls.hdid.errors.required && submit  "
              class="error-text">
              Headend Name is required!
            </div>
          </div>
          <div class="col-sm-6"  *ngIf="role.getroleid() > 777">
            <label>Select Operator<span style="color: red">*</span></label>
            <auto-completen
             [addclass]="{error: submit && this.AddCustForm.controls.userid.errors}"
              addclass="form-control" optValues="profileid" formControlName="userid" (keyUp)="getoperator()" (changed)="getbox()"
              placeholder="Select Operator" Id="id" [item]="getoperatorlist">
            </auto-completen>
            <div
              *ngIf="this.AddCustForm.controls.userid.errors && this.AddCustForm.controls.userid.errors.required && submit  "
              class="error-text">
              Operator type is required!
            </div>
          </div>
        </div>
        <!-- <div class="form-group row">
          <div class="col-sm-6">
            <div class="custom-control custom-checkbox">
              <input (change)='bulkvalid();' id='bulkopt' class="custom-control-input" [(ngModel)]="bulkopt"
                [ngModelOptions]="{standalone: true}" type="checkbox">
              <label class="custom-control-label" for="bulkopt">Bulk/Single</label>
            </div>
          </div>
        </div> -->

        <div class="form-group row">
          <div class="col-sm-6">
            <div class="custom-control custom-checkbox">
              <input (change)="bulkvalid(); bulk = []" formControlName="bulkopt" name="bulkopt"
                class="custom-control-input" type="checkbox" id="bulkopt" [(ngModel)]="bulkopt" />
              <label class="custom-control-label" for="bulkopt">Create Bulk</label>
            </div>
          </div>
        </div>
        <div class="form-group row" [hidden]="!AddCustForm.controls['bulkopt'].value">
          <div class="col-sm-6">
            <label>Please Upload The excel File Format<span style="color: red">*</span></label>
            <input #myFile type="file" (change)="changeListener($event.target.files[0])" class="form-control"
              accept=".xlsx" />
            <small *ngIf="bulk.length==0&&submit" class="error-text">File Is reqired! </small>
            <!-- <small class="error-text">Proof Type : 0 - Ration Card, 1 - Aadar Card </small> -->
          </div>
          <div class="col-sm-6">
            <br />
            <a href=".././../../../assets/data/custbulk.xlsx" target="_blank" download><b>Download Sample Here</b></a>
          </div>
        </div>
        <div class="form-group row" [hidden]='bulkopt'>
          <div class="col-sm-6">
            <label>User Name<span style="color: red">*</span></label>
            <input type="text" class="form-control" name="profileid" formControlName="profileid"
              placeholder="Enter User Name"
              [ngClass]="{'is-invalid': submit && AddCustForm.controls.profileid.errors}" />
            <small
              *ngIf="AddCustForm.controls.profileid.errors && AddCustForm.controls.profileid.errors.required && submit"
              class="invalid-feedback">User Name is required!
            </small>
          </div>
          <div class="col-sm-6">
            <label>CAF Number<span style="color: red">*</span></label>
            <input type="text" class="form-control" name="cafno" formControlName="cafno" placeholder="Enter CAF Number"
              [ngClass]="{'is-invalid': submit && AddCustForm.controls.cafno.errors}" />
            <small *ngIf="AddCustForm.controls.cafno.errors && AddCustForm.controls.cafno.errors.required && submit"
              class="invalid-feedback">CAF Number is required!
            </small>
          </div>
        </div>
        <div class="form-group row" [hidden]='bulkopt'>
          <div class="col-sm-6">
            <label>Full Name<span style="color: red">*</span></label>
            <input type="text" class="form-control" name="fullname" formControlName="fullname"
              placeholder="Enter Full Name"
              [ngClass]="{'is-invalid': submit && AddCustForm.controls.fullname.errors}" />
            <small
              *ngIf="AddCustForm.controls.fullname.errors && AddCustForm.controls.fullname.errors.required && submit"
              class="invalid-feedback">First Name is required!
            </small>
          </div>
          <div class="col-sm-6">
            <label>Date Of Birth<span style="color: red">*</span></label>
            <input type="date" class="form-control" name="dob" formControlName="dob"
              [ngClass]="{'is-invalid': submit && AddCustForm.controls.dob.errors}" />
            <small *ngIf="AddCustForm.controls.dob.errors && AddCustForm.controls.dob.errors.required && submit"
              class="invalid-feedback">DOB Name is required!
            </small>
          </div>
        </div>
        <div class="form-group row" [hidden]='bulkopt'>
          <div class="col-sm-6">
            <label>Password<span style="color: red">*</span></label>
            <input type="password" class="form-control" name="password" formControlName="password"
              placeholder="Enter password"
              [ngClass]="{ 'is-invalid': submit && AddCustForm.controls.password.errors}" />
            <small *ngIf="AddCustForm.controls.password.errors && AddCustForm.controls.password.errors.required && submit
            " class="invalid-feedback">Password is required!
            </small>
          </div>
          <div class="col-sm-6" [hidden]='bulkopt'>
            <label>Select STB Number<span style="color: red">*</span></label>
            <auto-completen [addclass]="{error: submit && this.AddCustForm.controls.stb_no.errors}"
              addclass="form-control" optValues="boxno" formControlName="stb_no" (keyUp)="getbox()"
              placeholder="Select STB Number" optId="boxid" [item]="getboxlist">
            </auto-completen>
            <div
            *ngIf="this.AddCustForm.controls.stb_no.errors && this.AddCustForm.controls.stb_no.errors.required && submit  "
            class="error-text">
            STB Number is required!
          </div>
          </div>
        </div>


        <div class="form-group row" [hidden]='bulkopt'>
          <div class="col-sm-6">
            <label>Mobile No<span style="color: red">*</span></label>
            <input type="text" class="form-control" name="mobile" formControlName="mobile" placeholder="Enter Mobile NO"
              [ngClass]="{ 'is-invalid': submit && AddCustForm.controls.mobile.errors}" />
            <small *ngIf="AddCustForm.controls.mobile.errors && AddCustForm.controls.mobile.errors.required && submit
            " class="invalid-feedback">Mobile NO required!
            </small>
          </div>
          <div class="col-sm-6">
            <label>Phone No</label>
            <input type="text" class="form-control" name="phone" formControlName="phone" placeholder="Enter Phone NO"
              [ngClass]="{ 'is-invalid': submit && AddCustForm.controls.phone.errors}" />
            <small *ngIf="AddCustForm.controls.phone.errors && AddCustForm.controls.phone.errors.required && submit
              " class="invalid-feedback">Phone NO required!
            </small>
          </div>
        </div>
        <div class="form-group row" [hidden]='bulkopt'>
          <div class="col-sm-6">
            <label>Country<span style="color: red">*</span></label>
            <auto-completen [addclass]="{ error: submit && this.AddCustForm.controls.country.errors}"
              addclass="form-control" optValues="name" formControlName="country" (keyUp)="getCountry($event)"
              (changed)="getstate(); typeclearcountry('1')" placeholder="Select Country" optId="country_pk"
              [item]="count">
            </auto-completen>
            <div *ngIf="
                this.AddCustForm.controls.country.errors &&
                this.AddCustForm.controls.country.errors.required &&
                submit
              " class="error-text">
              Country Name is required!
            </div>
          </div>
          <div class="col-sm-6">
            <label>state<span style="color: red">*</span></label>
            <auto-completen [addclass]="{error: submit && this.AddCustForm.controls.state.errors}"
              addclass="form-control" optValues="name" formControlName="state" (keyUp)="getstate($event)"
              (changed)="getdistrict(); typeclearstate('1')" placeholder="Select State" id="id" [item]="getstates">
            </auto-completen>
            <div *ngIf="
                this.AddCustForm.controls.state.errors &&
                this.AddCustForm.controls.state.errors.required && submit
              " class="error-text">State Name is required!
            </div>
          </div>
        </div>

        <div class="form-group row" [hidden]='bulkopt'>
          <div class="col-sm-6">
            <label>District <span style="color: red">*</span></label>
            <auto-completen [addclass]="{error: submit && this.AddCustForm.controls.district.errors}"
              addclass="form-control" optValues="district_name" formControlName="district" (keyUp)="getdistrict($event)"
              (changed)="getcity(); typecleardist()" placeholder="Select District" optId="district_pk" [item]="dist">
            </auto-completen>
            <div *ngIf="
                this.AddCustForm.controls.district.errors &&
                this.AddCustForm.controls.district.errors.required &&
                submit
              " class="error-text">
              District Name is required!
            </div>
          </div>
          <div class="col-sm-6">
            <label>City<span style="color: red">*</span></label>
            <auto-completen [addclass]="{error: submit && this.AddCustForm.controls.city.errors}"
              addclass="form-control" optValues="city_name" (changed)="getarea(); typeclearcity('1')"
              formControlName="city" (keyUp)="getcity($event)" placeholder="Select City" id="id" [item]="citylist">
            </auto-completen>
            <div *ngIf="
                this.AddCustForm.controls.city.errors &&
                this.AddCustForm.controls.city.errors.required &&
                submit
              " class="error-text">
              City Name is required!
            </div>
          </div>
        </div>

        <div class="form-group row" [hidden]='bulkopt'>
          <div class="col-sm-6">
            <label>Area<span style="color: red">*</span></label>
            <auto-completen [addclass]="{error: submit && this.AddCustForm.controls.area.errors}"
              addclass="form-control" optValues="area_name" formControlName="area" (keyUp)="getarea($event)"
              placeholder="Select Area" id="id" [item]="listarea">
            </auto-completen>
            <div *ngIf="
                this.AddCustForm.controls.area.errors &&
                this.AddCustForm.controls.area.errors.required &&
                submit
              " class="error-text">
              Area Name is required!
            </div>
          </div>
          <div class="col-sm-6">
            <label>Pin Code <span style="color: red">*</span></label>
            <input type="text" class="form-control" name="pin_no" formControlName="pin_no" placeholder="Enter Pincode"
              [ngClass]="{ 'is-invalid': submit && AddCustForm.controls.pin_no.errors}" />
            <small *ngIf="AddCustForm.controls.pin_no.errors && AddCustForm.controls.pin_no.errors.required && submit
            " class="invalid-feedback">pincode required!
            </small>
          </div>
        </div>

        <div class="form-group row" [hidden]='bulkopt'>
          <div class="col-sm-6">
            <label>Installation Address<span style="color: red">*</span></label>
            <textarea name="installation_addr" formControlName="installation_addr" placeholder="Installtion Address "
              class="form-control"
              [ngClass]="{ 'is-invalid': submit && this.AddCustForm.controls.installation_addr.errors }">
            </textarea>
            <small *ngIf="AddCustForm.controls.installation_addr.errors && AddCustForm.controls.installation_addr.errors.required && submit
            " class="invalid-feedback">Installation Address required!
            </small>
          </div>
          <div class="col-sm-6">
            <label>Billing Address<span style="color: red">*</span></label>
            <textarea
              value="{{ AddCustForm.value['same_addr'] ? AddCustForm.controls['billing_addr'].setValue(AddCustForm.value['installation_addr']):''}}"
              name="billing_addr" formControlName="billing_addr" placeholder="Billing Address" class="form-control"
              [ngClass]="{ 'is-invalid': submit && this.AddCustForm.controls.billing_addr.errors }"></textarea>
            <small *ngIf="AddCustForm.controls.billing_addr.errors && AddCustForm.controls.billing_addr.errors.required && submit
              " class="invalid-feedback">Billing Address is required! </small>
          </div>
        </div>
        <div class="form-group row" [hidden]='bulkopt'>
          <div class="col-sm-6">
            <div class="custom-control custom-checkbox">
              <input id="status" class="custom-control-input" formControlName="same_addr" type="checkbox" />
              <label class="custom-control-label" for="status">Billing Address same as Installtion Address</label>
            </div>
          </div>
        </div>

        <!-- <div class="form-group row" [hidden]='bulkopt'> -->
        <!-- <div class="col-sm-6">
            <label>Proof</label>
            <select class="form-control" [ngClass]="{'is-invalid': submit && this.AddCustForm.controls.proof.errors}"
              name="proof" formControlName="proof">
              <option value="" selected>Select Proof </option>
              <option value="1">Address Proof</option>
              <option value="2">ID Proof</option>
              <option value="3">CAF</option>
            </select>
            <small *ngIf="AddCustForm.controls.proof.errors && AddCustForm.controls.proof.errors.required && submit
            " class="invalid-feedback">Proof Type is required!
            </small>
          </div> -->
        <div class="form-group row" [hidden]='bulkopt'>
          <div class="col-sm-6">
            <label>Upload CAF<span style="color: red">*</span></label>
            <input type="file" name="img" class="form-control" (change)="handleFile($event.target.files)"
              [ngClass]="{'is-invalid' : submit && this.AddCustForm.controls.img.errors  }" formControlName="img">
            <div
              *ngIf="this.AddCustForm.controls.img.errors && this.AddCustForm.controls.img.errors.required && submit  "
              class="invalid-feedback">
              CAF required!
            </div>
          </div>
          <div class="col-sm-6" *ngIf='imageURL'>
            <label>CAF<span style="color: red">*</span></label>
            <img [src]="imageURL" style="width: 100%;height: 250px">
          </div>
        </div>
        <div class="form-group row" [hidden]='bulkopt'>
          <div class="col-sm-6">
            <label>Select Status<span style="color: red">*</span></label>
            <select class="form-control" [ngClass]="{'is-invalid': submit && this.AddCustForm.controls.status1.errors}"
              name="status1" formControlName="status1" (change)="onSelectionChanged($event)">
              <option value="" selected>Select Status</option>
              <option value="0">NotCollected</option>
              <option value="1">Collected</option>
              <option value='2'>Verified</option>
              <option value="3">Recollect</option>
            </select>
            <small *ngIf="AddCustForm.controls.status1.errors && AddCustForm.controls.status1.errors.required && submit
              " class="invalid-feedback">Status is required!
            </small>
          </div>
          <div class="col-sm-6">
            <label>Email<span style="color: red">*</span></label>
            <input type="text" class="form-control" name="email" formControlName="email" placeholder="Enter Email id"
              [ngClass]="{ 'is-invalid': submit && AddCustForm.controls.email.errors}" />
            <small *ngIf="AddCustForm.controls.email.errors && AddCustForm.controls.email.errors.required && submit
              " class="invalid-feedback">Email required!
            </small>
          </div>
        </div>


        <div class="form-group row" [hidden]='bulkopt'>
          <div class="col-sm-6">
            <label>Select Address Proof Type<span style="color: red">*</span></label>
            <select class="form-control"
              [ngClass]="{'is-invalid': submit && this.AddCustForm.controls.address_proof_type.errors}"
              name="address_proof_type" formControlName="address_proof_type">
              <option value="" selected>Select Address Proof Type</option>
              <option value="1">Ration Card</option>
              <option value="2">PASSPORT Card</option>
              <option value="3">Voter ID</option>
            </select>
            <small *ngIf="AddCustForm.controls.address_proof_type.errors && AddCustForm.controls.address_proof_type.errors.required && submit
          " class="invalid-feedback">Address Proof Type is required!
            </small>
          </div>
          <div class="col-sm-6">
            <label> Address Proof ID<span style="color: red">*</span></label>
            <input type="text" name="proof_id" formControlName="proof_id" placeholder="Enter Proof ID "
              [ngClass]="{ 'is-invalid': submit && AddCustForm.controls.proof_id.errors}" class="form-control" />
            <small *ngIf="AddCustForm.controls.proof_id.errors && AddCustForm.controls.proof_id.errors.required && submit
            " class="invalid-feedback">Address Proof id required!
            </small>
          </div>
        </div>


        <div class="form-group row" [hidden]='bulkopt'>
          <div class="col-sm-6">
            <label>Upload Address Proof<span style="color: red">*</span></label>
            <input type="file" name="addressimg" class="form-control" (change)="addresshandleFile($event.target.files)"
              [ngClass]="{'is-invalid' : submit && this.AddCustForm.controls.addressimg.errors  }"
              formControlName="addressimg">
            <div
              *ngIf="this.AddCustForm.controls.addressimg.errors && this.AddCustForm.controls.addressimg.errors.required && submit  "
              class="invalid-feedback">
              Upload Address Proff is required
            </div>
          </div>
          <div class="col-sm-6" *ngIf='addressurl'>
            <label>Address Proff <span style="color: red">*</span></label>
            <img [src]="addressurl" style="width: 100%;height: 250px">
          </div>
        </div>

        <div class="form-group row" [hidden]='bulkopt'>
          <div class="col-sm-6">
            <div class="custom-control custom-checkbox">
              <input formControlName="sameaddressandid" (change)="clearValidation()" name="sameaddressandid"
                class="custom-control-input" type="checkbox" id="sameaddressandid" [(ngModel)]="sameaddressandid" />
              <label class="custom-control-label" for="sameaddressandid">Click here if you have same address in id proof</label>
            </div>
          </div>
        </div>
        <div class="form-group row" [hidden]='bulkopt'>
          <div class="col-sm-6" [hidden]='sameaddressandid'>
            <label>Select ID Proof Type<span style="color: red">*</span></label>
            <select class="form-control"
              [ngClass]="{'is-invalid': submit && this.AddCustForm.controls.id_proof_type.errors}"
               name="id_proof_type"
              formControlName="id_proof_type">
              <option value="" selected>Select Proof Type</option>
              <option value="1">PAN Card</option>
              <option value="2">Passport</option>
              <option value="3">Voter ID</option>
            </select>
            <small *ngIf="this.AddCustForm.controls.id_proof_type.errors && this.AddCustForm.controls.id_proof_type.errors.required && submit
            " class="invalid-feedback">ID Proof Type is required!
            </small>
          </div>
          <div class="col-sm-6" [hidden]='sameaddressandid'>
            <label>ID Address<span style="color: red">*</span></label>
            <input type="text" name="proof_id" formControlName="proof_id" placeholder="Enter Proof ID "
              [ngClass]="{ 'is-invalid': submit && this.AddCustForm.controls.proof_id.errors}" class="form-control" />
            <small *ngIf="this.AddCustForm.controls.proof_id.errors && this.AddCustForm.controls.proof_id.errors.required && submit
              " class="invalid-feedback">ID Address is  required!
            </small>
          </div>
        </div>


        <div class="form-group row" [hidden]='bulkopt'>
          <div class="col-sm-6" [hidden]='sameaddressandid'>
            <label>Upload ID Proof<span style="color: red">*</span></label>
            <input type="file" name="idproofimg" class="form-control" (change)="idandleFile($event.target.files)"
              [ngClass]="{'is-invalid' : submit && this.AddCustForm.controls.idproofimg.errors  }"
              formControlName="idproofimg">
            <div
              *ngIf="this.AddCustForm.controls.idproofimg.errors && this.AddCustForm.controls.idproofimg.errors.required && submit  "
              class="invalid-feedback">
               Upload ID Proof is required
            </div>
          </div>
          <div class="col-sm-6" *ngIf='idurl'>
            <label [hidden]='sameaddressandid'> ID Proff <span style="color: red">*</span></label>
            <div [hidden]='sameaddressandid'>
              <img [src]="idurl" style="width: 100%;height: 250px">

            </div>
          </div>
        </div>
        <div class="form-group row" [hidden]='bulkopt'>
          <div class="col-sm-6">
            <label>Description</label>
            <textarea name="descr" formControlName="descr" class="form-control" placeholder="Description"></textarea>
          </div>
        </div>
      </div>

      <div class="modal-footer">
        <button type="submit" autofocus class="btn btn-md btn-success">Create</button>
        <button type="button" class="btn btn-md btn-danger" [routerLink]="['/pages/customer/cust-list']">Cancel</button>
      </div>
    </form>
  </nb-card-body>
</nb-card>