<nb-card>
  <nb-card-body>
    <div class="modal-header">
      <h4 class="modal-title">{{title}}</h4>
      <button class="close" aria-label="Close" (click)="close()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <form [formGroup]="addcasForm" class="form-horizontal" (ngSubmit)="Addcas()">
      <div class="modal-body">
        <div class="form-group row">
          <div class="col-sm-12">
            <label>CAS Name<span style="color:red">*</span></label>
            <input type="text" class="form-control" name="casname" formControlName="casname"
              placeholder="Enter CAS name" [ngClass]="{ 'is-invalid': submit && addcasForm.controls.casname.errors }" />
            <small *ngIf="addcasForm.controls.casname.errors &&(addcasForm.controls.casname.errors.required )&& submit"
              class="invalid-feedback">CAS Name is required! </small>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="submit" status="success" nbButton>{{item ? 'Update' : 'Add'}}</button>
        <button type="button" status="danger" nbButton (click)="close()">Cancel</button>
      </div>
    </form>
  </nb-card-body>
</nb-card>