<nb-card>
    <nb-card-header >List Profile</nb-card-header>
    <nb-card-body>
      <!-- <button [hidden]  status="success" nbButton [routerLink]="['/pages/das-administration/create-profile']">Create</button> -->
      <table class="table">
        <tr>
          <th [hidden]>Action</th>
          <th>ID</th>
          <th>Profile Name</th>
          <th>Role Name</th>
          <th>Business Name</th>
          <th></th>
        </tr>
        <tr *ngFor="let item of pagedItems">
          <td ><a (click)='edit(item);'><i class="nb-edit"></i></a></td>
          <td>{{item.id}}</td>
            <td>{{item.profileid}}</td>
            <td>{{item.rolename | uppercase}}</td>
            <td>{{item.fullname}}</td>
        </tr>
      </table>
    </nb-card-body>
  </nb-card>