<nb-card>
    <nb-card-header>List Package Share</nb-card-header>
    <nb-card-body>
      <!-- <toaster-container></toaster-container> -->
      <button  class="btn btn-sm btn-success"
        [routerLink]="['/pages/channelcategory/packagesharelist']">Add</button>
      <hr style="border: 0px;">
      <table class="table table-condensed table-hover">
        <tr>
          <th >Action</th>
          <th>MSO Share</th>
          <th>Distributor Share</th>
          <th>Sub-Distributor Share</th>
          <th>LCO Share</th>
  
        </tr>
      </table>
    </nb-card-body>
  </nb-card>