<nb-card>
    <nb-card-body>
        <div class="modal-header">
            <h4 class="modal-title">{{ title }}</h4>
            <!-- <button class="close" aria-label="Close"> -->
            <button class="close" aria-label="Close" (click)="close()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <form [formGroup]="AddhsnForm" class="form-horizontal" (ngSubmit)="addhsn()">
            <div class="modal-body">
                <div class="form-group row">
                    <div class="col-sm-6" *ngIf="role.getroleid() > 777">
                        <label>Select Headend Name<span style="color:red">*</span></label>
                        <auto-completen
                        [addclass]="{ 'error': submit && this.AddhsnForm.controls.hdid.errors }"
                        addclass="form-control" optValues="hdname"
                        formControlName="hdid" (keyUp)="getHeadend($event)"
                        placeholder='Select Headend'  optId="hdid"
                        [item]="listhead">
                      </auto-completen>
                      <div *ngIf="this.AddhsnForm.controls.hdid.errors && (this.AddhsnForm.controls.hdid.errors.required) && submit" class="error-text">
                        Headend Name is required!
                       </div>
                        </div>
                        <div class="col-sm-6">
                            <label>Name <span style="color:red">*</span></label>
                           <input type="text" class="form-control" name="hsn_num" formControlName="hsn_name" placeholder="Enter Name"
                            [ngClass]="{ 'is-invalid': submit && AddhsnForm.controls.hsn_name.errors }"/>
                            <small *ngIf="AddhsnForm.controls.hsn_name.errors &&(AddhsnForm.controls.hsn_name.errors.required )&& submit"
                            class="invalid-feedback"> Name is required! </small>
    
                        </div>
</div>


                <div class="form-group row">
              
                    <div class="col-sm-6">
                        <label>HSN/SAC Number<span style="color:red">*</span></label>
                        <input type="text" class="form-control" name="hsn_num" formControlName="hsn_num" placeholder="Enter HSN/SAC Name"
                        [ngClass]="{ 'is-invalid': submit && AddhsnForm.controls.hsn_num.errors }"/>
                        <small *ngIf="AddhsnForm.controls.hsn_num.errors &&(AddhsnForm.controls.hsn_num.errors.required )&& submit"
                        class="invalid-feedback">HSN/SAC Numberis required! </small>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-6">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="status" checked
                            formControlName="status" />
                        <label class="custom-control-label" for="status">Active</label>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit"  status="success" nbButton>
                    {{ item ? "Update" : "Add" }}
                </button>
                <button type="button"  status="danger" nbButton  (click)="close()">
                    Cancel
                </button>
            </div>
        </form>
    </nb-card-body>
</nb-card>