
<nb-card>
    <nb-card-header>
      Surrendered Subscriber's 
    </nb-card-header>
    <nb-card-body>
      <form [formGroup]="surenderstbForm" class="form-horizontal" (ngSubmit)="addsurender()">
        <div class="modal-body">
          <div class="form-group row">
            <div class="col-sm-3"  >
              <label>Select Headend Name<span style="color: red">*</span></label>
              <auto-completen [addclass]="{error: submit && this.surenderstbForm.controls.hdid.errors}"
                (changed)="getoperator();getbox();listsub()" addclass="form-control" optValues="hdname"
                formControlName="hdid" (keyUp)="getHeadend($event)" placeholder="Select Headend" optId="hdid"
                [item]="listhead">
              </auto-completen>
              <div
                *ngIf="this.surenderstbForm.controls.hdid.errors && this.surenderstbForm.controls.hdid.errors.required && submit  "
                class="error-text">
                Headend Name is required!
              </div>
            </div>
          
              <div class="col-sm-3">
                <label class="control-label">Select Operator Type<span style="color: red">*</span></label>
                <select class="form-control" (change)="getoperatortypef();changeopr();listsub()" name="usertype"
                  formControlName="usertype" [ngClass]="{'is-invalid': submit && this.surenderstbForm.controls.usertype.errors}">
                  <option value="">Select Operator Type</option>
                  <option value="444">LCO</option>
                  <option value="666">Distributor</option>
                  <option value="555">Sub-Distributor</option>
                  <option value="333">Hotel</option>
                </select>
                <small *ngIf="
                    this.surenderstbForm.controls.usertype.errors &&
                    this.surenderstbForm.controls.usertype.errors.required &&
                    submit
                  " class="invalid-feedback">Operator Type is required!
                </small>
            </div>
            <div class="col-sm-3">
              <label>{{surenderstbForm.value.usertype==444?'Select LCO ':surenderstbForm.value.usertype==666?'Select Distributer ':surenderstbForm.value.usertype==555?'Select Sub-Distributor':surenderstbForm.value.usertype==333?'Select Hotel':'Select Operator'}}<span style="color: red">*</span></label>
              <auto-completen 
               [addclass]="{error: submit && this.surenderstbForm.controls.lcoid.errors}"
               (changed)="getbox();listsub()"
               addclass="form-control" optValues="business_name" formControlName="lcoid" placeholder="Select  Name"
                Id="id" [item]="operatortype">
              </auto-completen>
              <div *ngIf="
                  this.surenderstbForm.controls.lcoid.errors &&
                  this.surenderstbForm.controls.lcoid.errors.required &&
                  submit
                " class="error-text">
                Operator Name is required!
              </div>
            </div>


            <div class="col-sm-3" >
              <label>Subscriber Name</label>
              <auto-completen addclass="form-control"
               optValues="fullname" (changed)="getbox()"
               formControlName="custid" optId="custid"
                 placeholder='Select Subscriber Id'
                  [item]="listsubc">
              </auto-completen>
  
            </div>

          
          </div>
        
          <div class="form-group row">
            <div class="col-sm-3">
              <label class="control-label">Select Type<span style="color: red">*</span></label>
              <select class="form-control"  name="type"
                formControlName="type" [ngClass]="{'is-invalid': submit && this.surenderstbForm.controls.type.errors}">
                <option value="">Select  Type</option>
                <option value="1">ALL</option>
                <option value="2">Single</option>
              
              </select>
              <small *ngIf="
                  this.surenderstbForm.controls.type.errors &&
                  this.surenderstbForm.controls.type.errors.required &&
                  submit
                " class="invalid-feedback">Operator Type is required!
              </small>
          </div>
            <div class="col-sm-3" >
              <label>Select STB Number<span style="color: red">*</span></label>
              <auto-completen [addclass]="{error: submit && this.surenderstbForm.controls.stb_no.errors}"
                addclass="form-control" optValues="boxno" formControlName="stb_no" (keyUp)="getbox($event)"
                placeholder="Select STB Number" optId="boxid" [item]="getboxlist">
              </auto-completen>
              <div
              *ngIf="this.surenderstbForm.controls.stb_no.errors && this.surenderstbForm.controls.stb_no.errors.required && submit  "
              class="error-text">
              STB Number is required!
            </div>
            </div>


            <div class="col-sm-3"  *ngIf='surenderstbForm.value["type"] ==2'>
              <label>Surender Date<span style="color: red">*</span></label>
              <input type="date" class="form-control" name="dob" formControlName="dob"
                [ngClass]="{'is-invalid': submit && surenderstbForm.controls.dob.errors}" />
              <small *ngIf="surenderstbForm.controls.dob.errors && surenderstbForm.controls.dob.errors.required && submit"
                class="invalid-feedback">Date is required!
              </small>
            </div>


            </div>
  
        </div>

        <div class="modal-footer">
          <button type="submit" autofocus class="btn btn-md btn-success">Create</button>
          <button type="reset" class="btn btn-md btn-danger" >Cancel</button>
        </div>
      </form>
    
   
    </nb-card-body>
  </nb-card>