<p>headendview works!</p>
<div class="col-md-12">
    <nb-card>
      <nb-card-header>View Headend</nb-card-header>
      <nb-card-body>
  
        <div class="row">
          <div class="col-sm-6">
            <nb-card>
              <nb-card-header>Basic Info</nb-card-header>
              <nb-card-body>
                <!--  style="width:800px; margin:0 auto; -->
                <table border="0" class="table table-condensed table-hover">
                  <tr>
                    <td>Head ID</td>
                    <th></th>
                  </tr>
                  <tr>
                    <td>Headend Name</td>
                    <th></th>
                  </tr>
                  <tr>
                    <td>Mobile No</td>
                    <th></th>
                  </tr>
                  <tr>
                    <td>Email</td>
                    <th></th>
                  </tr>
                  <tr>
                    <td>Address</td>
                    <th></th>
                  </tr>
                </table>
              </nb-card-body>
            </nb-card>
          </div>
          <div class="col-sm-6">
            <nb-card>
              <nb-card-header>Channel Info </nb-card-header>
              <nb-card-body>
                <!--  style="width:800px; margin:0 auto; -->
                <table border="0" class="table table-condensed table-hover">
  
                  <tr>
                    <td>No Of FTA</td>
                    <th></th>
                  </tr>
                  <tr>
                    <td>No Of Pay</td>
                    <th></th>
                  </tr>
                  <tr>
                    <td>No Of Broadcaster</td>
                    <th></th>
                  </tr>
                </table>
              </nb-card-body>
            </nb-card>
          </div>
        </div>
      </nb-card-body>
    </nb-card>
  
  </div>