<nb-card [nbSpinner]="loading" nbSpinnerStatus="success">   
  <!-- <nb-card-header>List Deposit<a style="text-align:right; float:right;" (click)="search=!search">Advanced Search</a>
  </nb-card-header> -->
  <nb-card-body>
    <button   *ngIf="!role.getmenurole(802)" status="success" nbButton [routerLink]="['/pages/accounts/adddeposit']">Add </button>
    <hr style="border: 0px;">
    <div class="row">
      <div class="col-md-12">
        <label class="left">
          <h5>Total Count : {{count}}</h5>
        </label>
      </div>
    </div>
    <table class="table">
      <tr>
        <th *ngIf="role.getroleid() >777">Headend</th>
        <th>Operator Type</th>
        <th>Operator Name</th>
        <th>Payment Type</th>
        <th>Payment Mode</th>
        <th>UTR</th>
        <th>Deposit Amount</th>
        <th>Remarks</th>
      </tr>
      <tr  *ngFor="let item of pagedItems" >
        <td *ngIf="role.getroleid() >777">{{item.hdname}}</td>
        <td>{{item.rolename}}</td>
        <td>{{item.fullname}}</td>
        <td>{{item.paymode==1?'Cash':item.paymode==2?'NetBanking':item.paymode==3?'Cheque':item.paymode==4?'Bank Deposit':'UPI' }}</td>
        <td>{{item.dep_mode_name}}</td>
        <td>{{item.utr || '-'}}</td>
        <td>{{item.deposit_amount}}</td>
        <td>{{item.note}}</td>
      </tr>
    </table>
    <div class="pagination">
      <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
        <a [ngClass]="{disabled:pager.currentPage === 1}" (click)="page=1;list();">First</a>
        <a [ngClass]="{disabled:pager.currentPage === 1}" (click)="page=page-1;list();">Previous</a>
        <a *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}"
          (click)="list(page);">{{page}}</a>
        <a [ngClass]="{disabled:pager.currentPage === pager.totalPages}" (click)="page=page+1;list();">Next</a>
       <a [ngClass]="{disabled:pager.currentPage === pager.totalPages}"
          (click)="page=pager.totalPages;list();">Last</a>
      </ul>
    </div>
  </nb-card-body>
</nb-card>