
<nb-card>
    <nb-card-header>List Prod ID</nb-card-header>
    <nb-card-body>
      <!-- <toaster-container></toaster-container> -->
      <div class="row" style="padding-left: 10px;">
        <div style="padding: 2px;">
          <button  class="btn btn-sm btn-success" (click)='Addmake()'>Create</button>
        </div>
      </div>
      <hr style="border: 0px;">
      <table class="table">
        <tr>
          <th>Action</th>
          <th>Language</th>
          <th>Status</th>
        </tr>
       
      </table>
      <div class="pagination">
        
      </div>
    </nb-card-body>
  </nb-card>