<nb-card>
    <nb-card-header>Admin User List</nb-card-header>
    <nb-card-body>
      <!-- <toaster-container></toaster-container> -->
      <button [hidden]='' class="btn btn-sm btn-success"
        [routerLink]="['/pages/das-administration/create-user']">Create</button>
      <div class="form-group row">
        <div class="col-sm-3" >
          <label>User Type</label>
          <select name="opt_type"  class="form-control">
            <option value="">Select Operator Type</option>
            <option value="0">Super Admin</option>
            <option value="6">Admin</option>
            <option value="7">Employee</option>
            <option value="8">Accounts</option>
            <option value="9">Operation</option>
  
          </select>
        </div>
        <div class="col-sm-3" >
          <label>User Name</label>
          <select name="opt_type"  class="form-control"></select>
          <!-- <auto-complete (keyup)="getoperator($event.target.value)" name='operator_name' (item_id)='operator_name=$event;'
            placeholder='Select User' [item]=opt></auto-complete> -->
        </div>
      </div>
      <button type="button" class="btn btn-md btn-success" (click)='page=1;initiallist();'
        style="margin: auto; display: block;">Search</button>  
      <table class="table">
        <tr>
          <th [hidden]=''>Action</th>
          <th>User ID</th>
          <th>User Name</th>
          <th>User Login ID</th>
          <th>Dashboard Amount</th>
          <th>Contact Number</th>
          <th>Email ID</th>
          <th>Status</th>
        </tr>
        <!-- <tr *ngFor="let item of pagedItems">
          <td ><a><i class="nb-edit"></i></a></td>
          <td>{{item.id}}</td>
          <td>{{item.first_name +' '+item.last_name}}</td>
          <td>{{item.username}}</td>
          <td>{{item.deposit_amt}}</td>
          <td>{{item.mobie_no}}</td>
          <td>{{item.email1}}</td>
          <td>{{item.status==1?'Active':'Deactive'}}</td>
        </tr> -->
      </table>
      <div class="pagination">
        <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
          <a [ngClass]="{disabled:pager.currentPage === 1}" (click)="page=1;list();">First</a>
          <a [ngClass]="{disabled:pager.currentPage === 1}" (click)="page=page-1;list();">Previous</a>
          <a *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}"
            (click)="list(page);">{{page}}</a>
          <a [ngClass]="{disabled:pager.currentPage === pager.totalPages}" (click)="page=page+1;list();">Next</a>
          <a [ngClass]="{disabled:pager.currentPage === pager.totalPages}"
            (click)="page=pager.totalPages;list();">Last</a>
        </ul>
      </div>
    </nb-card-body>
  </nb-card>
