<nb-card>
  <nb-card-body>
    <div class="modal-header">
      <h4 class="modal-title">{{title}}</h4>
      <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <form [formGroup]="districtForm" class="form-horizontal" (ngSubmit)="District();">
      <div class="modal-body">
        <div class="form-group row">
          <div class="col-sm-12">
            <label>Country <span style="color:red">*</span></label>

            <auto-completen [addclass]="{ 'error': submit && this.districtForm.controls.country_fk.errors }"
              addclass="form-control" optValues="name" formControlName="country_fk" (keyUp)="getCountry($event)"
              (changed)="getstate();typecleardist('1')" placeholder='Select Country' optId="country_pk" [item]="count">
            </auto-completen>
            <div
              *ngIf="this.districtForm.controls.country_fk.errors && (this.districtForm.controls.country_fk.errors.required) && submit"
              class="error-text">
              Country Name is required!
            </div>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-sm-12">
            <label>State <span style="color:red">*</span></label>
            <auto-completen [addclass]="{ 'error': submit && this.districtForm.controls.state_fk.errors }"
              addclass="form-control" optValues="name" formControlName="state_fk" (keyUp)="getstate($event)"
              placeholder='Select State' id="id" [item]="getstates">
            </auto-completen>
            <div
              *ngIf="this.districtForm.controls.state_fk.errors && (this.districtForm.controls.state_fk.errors.required) && submit"
              class="error-text">
              State Name is required!
            </div>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-sm-12">
            <label>District<span style="color: red">*</span></label>
            <input type="text" class="form-control" name="district_name" formControlName="district_name"
              placeholder="Enter Distric"
              [ngClass]="{ 'is-invalid': submit && districtForm.controls.district_name.errors }" />
            <small
              *ngIf="districtForm.controls.district_name.errors &&(districtForm.controls.district_name.errors.required )&& submit"
              class="invalid-feedback">Distric Name is required! </small>

          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="submit" status="success" nbButton>{{item ? 'Update' : 'Add'}}</button>
        <button type="button" status="danger" nbButton (click)="close()">Cancel</button>
      </div>
    </form>
  </nb-card-body>
</nb-card>