<nb-card>
  <nb-card-header>List Package</nb-card-header>
  <nb-card-body>
    <!-- <form #f="ngForm"> -->
    <div class="form-group row">
      <div class="col-sm-2" *ngIf="role.getroleid() > 777">
        <label>Headend</label>
        <auto-completen
        [addclass]="(isSearch && !headend)?'error':'form-control'"
        addclass="form-control" optValues="hdname" [(ngModel)]="headend" name="headend" required
          (changed)="Getbroadcasteredit();clearheadend()" placeholder="Select Headend" optId="hdid" [item]="listhead">
        </auto-completen>
        <small class="error-text" *ngIf="isSearch && !headend">Headend Required</small>

      </div>


      <div class="col-sm-2">
        <label>Select Mode</label>
        <select
        [ngClass]="(isSearch && !mode)?'error':'form-control'"

       
         class="form-control" id="mode" [(ngModel)]="mode"  (change)="clearfun() ;clearMode()" >
          <option value="" selected>Select Mode</option>
          <option value="0">Individual</option>
          <option value="1">Bulk Edit</option>
          <option value="2">Bulk Assign</option>
        </select>
        <small class="error-text" *ngIf="isSearch && !mode">Mode Required</small>
      </div>


      <div class="col-sm-2" (change)="getpackage();clearfun() ; clearpackage();">
        <label>Pack Type</label>
        <select 
        [ngClass]="(isSearch && !pack_type)?'error':'form-control'"

        class="form-control"
        
        id="pack_type" [(ngModel)]="pack_type" required>
          <option value="" selected>Select Pack Type</option>
          <option value="0">Base Package</option>
          <option value="1">A-La-Carte</option>
          <option value="2">Add-On Package</option>
          <option value="3">Bundle Package</option>
        </select>
        <small class="error-text" *ngIf="isSearch && !pack_type">PackType Required</small>

      </div>

      <div class="col-sm-2">
        <label>Package</label>
        <auto-completen   [addclass]="(isSearch && !package)?'error':'form-control'" optValues="packname" [(ngModel)]="package" name="package"
          placeholder="Select Package" optId="packid" [item]="getpackagelist" (changed)="getbcshare();amount();clearfun() ">
        </auto-completen>
   <small class="error-text" *ngIf="isSearch && !package">Package Required</small>
      </div>

      <div class="col-sm-2">
        <label>BC Share/Price</label>
        <input [ngClass]="(isSearch && !bcshare)?'error':'form-control'" [disabled]="true" addclass="form-control"
         [(ngModel)]="bcshare" id="bcshare" class="form-control"
          name="bcshare">
          <small class="error-text" *ngIf="isSearch && !bcshare">Share Required</small>

      </div>

    </div>
    <button type="button" class="btn btn-md btn-success" (click)="initiallist()" style="margin: auto; display: block">
      Search
    </button>
    <!-- </form> -->
    <form [formGroup]="searchpackage" (ngSubmit)="Updatepack()">
      <div class="modal-body">
        <div>
          <table class="table">
            <tbody>
              <ng-container>

                <div style="display: table-row" formArrayName="share_details">
                  <div class="col-sm-12">
                    <div *ngFor=" let user of share_details.controls; index as idx;  let last = last">
                      <div class="row" [formGroupName]="idx">
                        <div style="display: table-row">
                          <td *ngIf="mode !=='2' && mode !=='0'">
                            <br>
                            <input type="checkbox" [value]="user.id" (change)="checkBoxChecked();"
                              [(ngModel)]="user.checked" class="form-control" id="checked" formControlName="checked"
                              class="checkbox-control">
                          </td>
                          <td *ngIf="mode !=='2' && mode !=='0'">
                            <label>Reseller Name <span style="color:red">*</span></label> <br>
                            <!-- <input type="text" name="profileid" formControlName="profileid" class="form-control"
                              class="form-control"> -->
                              <label>{{user.value.profileid}}</label>
                          </td>

                        

                          <td *ngIf="mode =='0'">
                            <label>Select Operator<span style="color: red">*</span></label>
                            <auto-completen addclass="form-control" optValues="profileid" formControlName="userid"
                              (keyUp)="getoperator()" (changed)="changedrop($event,idx)" placeholder="Select Operator" Id="id"
                              [item]="getoperatorlist">
                            </auto-completen>
                          </td>
                          <td>
                            <label>MSO Share<sspan style="color:red">*</sspan></label>
                            <input type="number" name="mso_share" formControlName="mso_share" class="form-control"
                              (keyup)="onkeyupQty(idx)" />
                          </td>
                          <td *ngIf="mode !=='2'">
                            <label>Distributor Share<span style="color:red">*</span></label>
                            <input type="number" name="dist_share" formControlName="dist_share"
                              placeholder="Enter Distributor Share" class="form-control" (keyup)="onkeyupQty(idx)" />
                          </td>
                          <td *ngIf="mode !=='2'">
                            <label>Sub Distributor Share<span style="color:red">*</span></label>
                            <input type="number" name="sub_dist_share" formControlName="sub_dist_share"
                              placeholder="Sub Distributor Share " class="form-control" (keyup)="onkeyupQty(idx)" />
                          </td>
                          <td>
                            <label>Reseller Share<span style="color:red">*</span></label>
                            <input type="number" name="reseller_share" formControlName="reseller_share"
                              placeholder="reseller_share" class="form-control" (keyup)="onkeyupQty(idx)" />
                          </td>
                          <td>
                            <label>Reseller Amount<span style="color:red">*</span></label>
                            <input type="number" name="r_price" formControlName="r_price" placeholder="Reseller amount"
                              class="form-control" />

                          </td>
                          <td>
                            <div *ngIf="last || idx != 0 ">
                              <div class="btn-group" *ngIf="mode =='0'">
                                <button type="button" style="margin-top: 31%"
                                  class="btn btn-md btn-success dropdown-toggle" data-bs-toggle="dropdown">
                                  Action
                                </button>
                                <div class="dropdown-menu">
                                  <a (click)="deleteMatField(idx)" class="dropdown-item" *ngIf="idx != 0"><i
                                      title="Edit Complaint" class="ion-android-delete"></i>&nbsp;Delete</a>
                                  <a (click)="addreseller();" class="dropdown-item" *ngIf="last"><i
                                      title="Edit Complaint" class="ion-ios-plus-outline"></i>&nbsp;ADD
                                  </a>
                                </div>
                              </div>
                            </div>
                          </td>

                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </ng-container>
            </tbody>
          </table>


          <div class="modal-footer">
            <button type="submit" status="success" nbButton>Update</button>
          </div>
        </div>
      </div>
    </form>
  </nb-card-body>
</nb-card>