
.error {
    border-color: red;
  }
  .error-text {
      font-size: x-small;
      color: red;
  }

  input.ng-invalid.ng-touched  
{  
    border: 1px solid #34148b !important; /*change color if you want*/
    color: #d70000 !important;
}  

.error_message{
 
    color: #d70000 !important;
}