<nb-card [nbSpinner]="loading" nbSpinnerStatus="success">
  <nb-card-body>
    <nb-card-header>List Operator
      <a style="text-align: right; float: right" (click)="search = !search">Advanced Search</a>
    </nb-card-header>
    <button status="success" nbButton [routerLink]="['/pages/users/add-user']">
      Create
    </button>

    <div class="row">
      <div class="col-md-6">
        <label style="text-align: right">
          <h5><b>Operator Count : </b>{{ count }}</h5>
        </label>
      </div>
      <div class="col-md-6">
        <i class="green right fa fa-file-excel" (click)="Download()" aria-hidden="true"></i>
      </div>
    </div>
    <div class="modal-body" autocomplete="off" [hidden]="!search">
      <div class="form-group row">
        <div class="col-sm-3" (change)="getoperator();ClearHeadend()" *ngIf="role.getroleid() >777">
          <label>Headend</label>
          <select name="headend" class="form-control" [(ngModel)]="headend">
            <option value="">Select Headend</option>
            <option *ngFor="let item of listhead" [ngValue]="item.hdid">
              {{ item.hdname }}
            </option>
          </select>
        </div>
        <div class="col-sm-3" (change)="getoperator();ClearOptype()">
          <label>Operator Type</label>
          <select class="form-control" name="op_type" [(ngModel)]="op_type">
            <option value="" selected>Select Operator Type</option>
            <option value="444">LCO</option>
            <option value="666">Distributor</option>
            <option value="555">Sub-Distributor</option>
            <option value="333">Hotel</option>
          </select>
        </div>
        <div class="col-sm-3">
          <label>Operator Name</label>
          <auto-completen addclass="form-control"  [(ngModel)]="profileid" 
            optValues="profileid" name="operator_name" 
            placeholder="Select Operator" Id="id" [item]="operatortypelist">
          </auto-completen>
        </div>
        <div class="col-sm-3">
          <label>Status</label>
          <select name="status" [(ngModel)]="status" class="form-control">
            <option value="" selected="true">Select Status</option>
            <option value="1">Active</option>
            <option value="0">Inactive</option>
          </select>
        </div>
      </div>
      
      <button type="button" class="btn btn-md btn-success" (click)='page=1;initiallist();'
      style="margin: auto; display: block;">Search</button>
    </div>
    <table class="table">
      <tr>
        <th *ngIf="!role.getmenurole(303)">Action</th>
        <th>ID</th>
        <th *ngIf="role.getroleid() >777" >Headend Name</th>
        <th>User Type</th>
        <th>Login ID</th>
        <th>Operator Name</th>
        <th>Business Name</th>
        <th>Mobile Number</th>
        <th>Email</th>
      </tr>
      <tr *ngFor="let item of pagedItems">
        <div class="form-group" *ngIf="!role.getmenurole(303)">
          <div class="btn-group"   >
            <button type="button" class="btn btn-sm btn-success dropdown-toggle" data-bs-toggle="dropdown">
              Action
            </button>
            <div class="dropdown-menu" style="min-width: 0rem" style="color: none !important; 
             text-decoration: none !important;">
              <a class="dropdown-item" style="cursor: pointer" [routerLink]="['/pages/users/edit-user']"
                [queryParams]="{ id: item.id }">
                <i title="Edit Complaint" class="far fa-edit"></i>&nbsp;Edit
              </a>
              <a class="dropdown-item" (click)="update(item)">
                <i class="far fa-edit" title="Edit Complaint"
                ></i>&nbsp;HD CAS
              </a>

              <a class="dropdown-item" style="cursor: pointer"
              [routerLink]="['/pages/users/role-user']"
              style="cursor: pointer" style="color: none !important; 
              text-decoration: none !important;" 
                [queryParams]="{ id: item.id }" >
                <i class="fa fa-magic" style="font-size: 13px !important;"></i>&nbsp;Edit Role
              </a>
            </div>
          </div>
        </div>
        <td>{{ item.id }}</td>
        <td *ngIf="role.getroleid() >777">{{ item.hdname }}</td>
        <td>{{ item.rolename }}</td>
        <td>{{ item.profileid }}</td>
        <td>{{ item.fullname }}</td>
        <td>{{ item.business_name }}</td>
        <td>{{ item.mobile }}</td>
        <td>{{ item.email1 }}</td>
      </tr>
    </table>
    <div class="pagination">
      <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
        <a [ngClass]="{ disabled: pager.currentPage === 1 }" (click)="page = 1; getUserList()">First</a>
        <a [ngClass]="{ disabled: pager.currentPage === 1 }" (click)="page = page - 1; getUserList()">Previous</a>
        <a *ngFor="let page of pager.pages" [ngClass]="{ active: pager.currentPage === page }"
          (click)="getUserList(page)">{{ page }}</a>
        <a [ngClass]="{ disabled: pager.currentPage === pager.totalPages }"
          (click)="page = page + 1; getUserList()">Next</a>
        <a [ngClass]="{ disabled: pager.currentPage === pager.totalPages }"
          (click)="page = pager.totalPages; getUserList()">Last</a>
      </ul>
    </div>
  </nb-card-body>
</nb-card>