<!-- <p>addpackage works!</p> -->
<div class="col-md-12">
  <nb-card>
    <nb-card-header>Create Package</nb-card-header>
    <!-- <toaster-container></toaster-container> -->
    <nb-card-body>
      <form [formGroup]="AddPackageForm" class="form-horizontal" (ngSubmit)="addPack()">
        <nb-tabset>
          <nb-tab tabTitle="Package Details">
            <div class="modal-body">
              <div class="form-group row">
                <div class="col-sm-9">
                  <div class="form-group row">
                    <div class="col-sm-3" (change)="share()">
                      <input id="base" type="radio" value="0" name="package" formControlName="packtype" >
                      <label>Base Package</label>
                    </div>
                    <div class="col-sm-3" (change)="share()">
                      <input id="carte" type="radio" value="1" name="package" formControlName="packtype" >
                      <label>A-La-Carte</label>
                    </div>

                    <div class="col-sm-3" (change)="share()">
                      <input id="addon" type="radio" value="2"  name="package" formControlName="packtype">
                      <label>Add-On Package</label>
                    </div>
                    <div class="col-sm-3" (change)="share();clearValidation();">
                      <input id="bundle" type="radio"  value="3" name="package" formControlName="packtype">
                      <label>Bundle Package</label>
                    </div>

                  </div>
                </div>
                <div class="col-md-3">
                  <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="status" formControlName="status" />
                    <label class="custom-control-label" for="status">Active</label>
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <div class="col-sm-6" *ngIf="role.getroleid() > 777">
                  <label>Select Headend Name<span style="color: red">*</span></label>
                  <auto-completen [addclass]="{ 'error': submit && this.AddPackageForm.controls.hdid.errors }"
                    addclass="form-control" optValues="hdname" formControlName="hdid" (keyUp)="getHeadend($event)"
                    (changed)="getblundledata();getbroadcaster();" placeholder='Select Headend Name' optId="hdid"
                    [item]="listhead">
                  </auto-completen>
                  <div
                    *ngIf="this.AddPackageForm.controls.hdid.errors && (this.AddPackageForm.controls.hdid.errors.required) && submit"
                    class="error-text">
                    Headend Name is required!
                  </div>
                </div>
                <div class="col-sm-6" *ngIf="AddPackageForm.value['packtype'] != 3">
                  <label>Select Broadcaster Name<span style="color: red">*</span></label>
                  <auto-completen [addclass]="{ 'error': submit && this.AddPackageForm.controls.bcid.errors }"
                    addclass="form-control" optValues="fullname" (changed)="getchannel()" formControlName="bcid"
                    (keyUp)="getbroadcaster($event)" placeholder='Select Broadcaster Name' Id="id" [item]="listbroadaterr">
                  </auto-completen>
                  <div
                    *ngIf="this.AddPackageForm.controls.bcid.errors && (this.AddPackageForm.controls.bcid.errors.required) && submit"
                    class="error-text">
                    Broadcaster Name is required!
                  </div>
                </div>
              </div>

              <div class="form-group row">
                <div class="col-sm-6" *ngIf="AddPackageForm.value['packtype'] != 3">
                  <label>Broadcaster Share<span style="color: red">*</span></label>
                  <input type="text" class="form-control" name="broadcaster_share" formControlName="broadcaster_share"
                    placeholder="Enter Broadcaster share"
                    [ngClass]="{ 'is-invalid': submit && AddPackageForm.controls.broadcaster_share.errors }" />
                  <small
                    *ngIf="AddPackageForm.controls.broadcaster_share.errors &&(AddPackageForm.controls.broadcaster_share.errors.required )&& submit"
                    class="invalid-feedback">Broadcaster share is required! </small>
                </div>

                <div class="col-sm-6">
                  <label>Broadcaster Assigned Price<span style="color: red">*</span></label>
                  <input type="text" class="form-control" name="bcamt" formControlName="bcamt"
                    placeholder="Enter Broadcaster assigned price"
                    [ngClass]="{ 'is-invalid': submit && AddPackageForm.controls.bcamt.errors }" />
                  <small
                    *ngIf="AddPackageForm.controls.bcamt.errors &&(AddPackageForm.controls.bcamt.errors.required )&& submit"
                    class="invalid-feedback">Broadcaster Assigned Price is required! </small>
                </div>
              </div>

              <div class="form-group row">
                <div class="col-sm-6">
                  <label>Package Name<span style="color: red">*</span></label>
                  <input type="text" class="form-control" name="packname" formControlName="packname"
                    placeholder="Enter Package Name"
                    [ngClass]="{ 'is-invalid': submit && AddPackageForm.controls.packname.errors }" />
                  <small
                    *ngIf="AddPackageForm.controls.packname.errors &&(AddPackageForm.controls.packname.errors.required )&& submit"
                    class="invalid-feedback">Package Name is required! </small>
                </div>
                <div class="col-sm-6">
                  <label>Select Service Type<span style="color: red">*</span></label>
                  <select [ngClass]="{ 'is-invalid': submit && AddPackageForm.controls.srvtype.errors }"
                    class="form-control" name="srvtype" formControlName="srvtype">
                    <option value="" selected>Select Service Type</option>
                    <option value="0">prepaid</option>
                    <option value="1">postpaid</option>
                  </select>
                  <small
                    *ngIf="AddPackageForm.controls.srvtype.errors &&(AddPackageForm.controls.srvtype.errors.required )&& submit"
                    class="invalid-feedback">Services Type is required! </small>
                </div>
              </div>
              <div class="form-group row">
                <div class="col-sm-6" *ngIf="AddPackageForm.value['enable_tax']">
                  <label>Select Tax Type<span style="color: red">*</span></label>
                  <select [ngClass]="{ 'is-invalid': submit && AddPackageForm.controls.tax_type.errors }"
                    class="form-control" name="tax_type" formControlName="tax_type">
                    <option value="" selected>Select Tax Type</option>
                    <option value="0">Include </option>
                    <option value="1">Exclude </option>
                  </select>
                  <small
                    *ngIf="AddPackageForm.controls.tax_type.errors &&(AddPackageForm.controls.tax_type.errors.required )&& submit"
                    class="invalid-feedback">Tax Type is required! </small>
                </div>

                <div class="col-md-6">
                  <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="enable_tax" (change)="taxcontrol()"
                      formControlName="enable_tax" />
                    <label class="custom-control-label" for="enable_tax">Tax Enable</label>
                  </div>

                </div>
              </div>
            </div>
          </nb-tab>
          <nb-tab tabTitle="CAS Product ID" *ngIf='AddPackageForm.value["packtype"]!=3'>
            <div class="modal-body">
              <div class="form-group row" formArrayName="serviceid">
                <div class="col-sm-12">
                  <div *ngFor="let user of serviceid.controls; index as idx;let last = last;">
                    <div class="row" [formGroupName]="idx">
                      <div class="col-sm-2">
                        <label>CAS Type</label>
                        <input readonly type="text" class="form-control" formControlName="casid" />
                      </div>
                      <div class="col-sm-2">
                        <label>Product ID</label>
                        <input type="text" class="form-control" formControlName="productid" />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </nb-tab>
          <nb-tab tabTitle="Add Channels" *ngIf='AddPackageForm.value["packtype"]!=3'>
            <div>
              <tree-root (stateChange)="getnode()" #tree [nodes]="nodes" [options]="treeOptions"></tree-root>
            </div>
          </nb-tab>
          <nb-tab tabTitle="Add Bundle Package" *ngIf='AddPackageForm.value["packtype"]==3'>
            <div class="  table-wrapper table-scroll ">
              <table class="table table-bordered table-striped">
                <thead>
                  <th colspan="5">
                    <input placeholder="Search Base Package Here" class="form-control" [(ngModel)]="searchbase"
                      [ngModelOptions]="{standalone: true}"
                      style="width:30%;border: none;border-bottom: 2px solid ;font-size: 15px;">
                  </th>
                </thead>
                <tbody>
                  <tr>
                    <th>Select One</th>
                    <th>Package Name</th>
                    <!-- <th>Channel Name</th> -->
                  </tr>
                  <tr *ngFor="let item of bpack| grdFilter: {packname: searchbase };  let i=index;">
                    <td class="text-center">
                      <input type="radio" name="sizecb" [value]="item.packid" [(ngModel)]="baseBack"
                        [ngModelOptions]="{standalone: true}">
                    </td>
                    <td><a (click)="channels(item)">{{item.packname}}</a></td>
                  </tr>
                  <tr>
                    <td [hidden]='bpack.length !=0' colspan="5" style="text-align: center;">No Packages Found</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="  table-wrapper table-scroll ">
              <table class="table table-bordered table-striped">
                <thead>
                  <th colspan="5">
                    <input placeholder="Search Add-On Package Here" class="form-control" [(ngModel)]="searchaddon"
                      [ngModelOptions]="{standalone: true}"
                      style="width:30%;border: none;border-bottom: 2px solid ;font-size: 15px;">
                  </th>
                </thead>
                <tr>
                  <th class="text-center">
                    <input type="checkbox" name="all" (change)="checkaddonpack($event.target.checked)" />All
                  </th>
                  <th>Package Name</th>
                  <th>Channel Name</th>
                </tr>
                <tr *ngFor="let item of addonpack  | grdFilter: {packname: searchaddon };  let i=index;">
                  <td class="text-center">
                    <input type="checkbox" name="sizecb" [(ngModel)]="item.state" [ngModelOptions]="{standalone: true}"
                      [value]="item.packid">
                  </td>
                  <td><a>{{item.packname}}</a></td>

                  <td><a (click)="channels(item)">{{item.channame}}</a></td>
                </tr>
                <tr>
                  <td [hidden]='addonpack.length !=0' colspan="5" style="text-align: center;">No Packages Found</td>
                </tr>
              </table>
            </div>
            <div class="  table-wrapper table-scroll ">
              <table class="table table-bordered table-striped">
                <thead>
                  <th colspan="5">
                    <input placeholder="Search Alacarte Here..." class="form-control" [(ngModel)]="searchalcart"
                      [ngModelOptions]="{standalone: true}"
                      style="width:30%;border: none;border-bottom: 2px solid ;font-size: 15px;">
                  </th>
                </thead>
                <tr>
                  <th class="text-center">
                    <input type="checkbox" name="all" (change)="checkalpack($event.target.checked)" />All
                  </th>
                  <th>Package Name</th>
                  <th>Channel Name</th>
                </tr>
                <tr *ngFor="let item of alacartepack  | grdFilter: {packname: searchalcart }; ; let i=index;">
                  <td class="text-center">
                    <input type="checkbox" [(ngModel)]="item.state" [ngModelOptions]="{standalone: true}" name="sizecb"
                      [value]="item.packid">
                  </td>
                  <td><a>{{item.packname}}</a></td>
                  <td><a (click)="channels(item)">{{item.channame}}</a></td>
                </tr>
                <tr>
                  <td [hidden]='alacartepack.length !=0' colspan="5" style="text-align: center;">No Packages Found</td>
                </tr>
              </table>
            </div>
          </nb-tab>
        </nb-tabset>
        <div class="modal-footer">
          <!-- <button type="submit" status="success" nbButton >Add</button> -->
          <button type="submit" status="success" nbButton>Create</button>
          <button type="button" status="danger" nbButton [routerLink]="['/pages/channelcategory/packagelist']">
            Cancel
          </button>
        </div>
      </form>
    </nb-card-body>
  </nb-card>
</div>