<nb-card>
    <nb-card-header>SMS Credit List</nb-card-header>
    <nb-card-body>
      <!-- <toaster-container></toaster-container> -->
      <button class="btn btn-sm btn-success" [routerLink]="['/pages/das-administration/sms-gate']">Create</button>
      <br><br>
      <hr style="border: 0px;">
      <table class="table">
        <tr>
          <th>Action</th>
          <th>Gateway From</th>
          <th>Gateway</th>
          <th>Headend</th>
        </tr>
      </table>
    </nb-card-body>
  </nb-card>
