<!-- <p>stbactdeact works!</p> -->
<div class="col-md-12">
    <nb-card>
       <nb-card-header>Activity Logs</nb-card-header>
       <nb-card-body>
          <div class="row">
             <div class="col-md-12">
                <table class="table table-striped" style="margin-bottom: 0px;">
                   <thead class="success">
                      <tr class="headcolor">
                         <td colspan="5" style="text-align: right; color:green;" title="PDF"> <i class="fa fa-file-pdf"
                               style="padding-left: 1000px;" aria-hidden="true"></i></td>
                         <td colspan="5" style="text-align: right; color:green;" title="Excel"> <i
                               class="fa fa-file-excel" aria-hidden="true"></i></td>
                      </tr>
                   </thead>
                </table>
             </div>
          </div>
          <table class="table table-condensed table-hover">
            
                <tr class="black-muted-bg">
                   <th> Operator Name</th>
                   <th> Customer Name</th>
                   <th> Package Name </th>
                   <th> Message</th>
                   <th> Status </th>
                   <th> Operation By</th>
                </tr> 
            
            
          </table>
          <div class="pagination">
            
          </div>
       </nb-card-body>
    </nb-card>
 </div>